<div>
    <div>
        <p></p>
        <div>
            <div>
                <p><strong>{{first}} {{last}}</strong></p>
                <p><strong>Started:</strong> {{start}}</p>
                <p><strong>Position:</strong> {{job}}</p>
                <p><strong>Department:</strong> {{department}}</p>
                <p><strong>Salary:</strong> {{formatMoney salary}}</p>
            </div>
        </div>
        <footer>
            <div>
                <form action="/delete/{{_id}}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </footer>
    </div>
</div>
